body {
  background: #223b4f;
  color: #19d6e7;
  font-family: 'Odibee Sans', cursive;
  text-align: center;
}

h1 {
  font-size: 100px;
  background: linear-gradient(to bottom, #19d6e7 0%, #11909c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.9));
  margin: 50px 0;
}

.game {
  background: black;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  margin: 80px auto;
}

.key {
  width: 185px;
  height: 185px;
}

.key-g {
  border-radius: 100% 0 0 0;
  background: #40b648;
  position: absolute;
  top: 50px;
  left: 50px;
}

.pressed-key-g {
  background: #76b57a;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.key-r {
  border-radius: 0 100% 0 0;
  background: #ef3737;
  position: absolute;
  top: 50px;
  right: 50px;
}

.pressed-key-r {
  background: #f07f7f;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.key-y {
  border-radius: 0 0 0 100%;
  background: #f8ec1e;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.pressed-key-y {
  background: #f7f068;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.key-b {
  border-radius: 0 0 100% 0;
  background: #214496;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.pressed-key-b {
  background: #4e6496;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.center {
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score-line {
  display: flex;
  justify-content: center;
}

.scores {
  background: #3b5061;
  font-size: 20px;
  width: max-content;
  padding: 25px 50px;
  border-radius: 10px;
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
  z-index: 100;
  border: 2px solid #fff;
  display: none;
}

.score, .hi-score {
  margin-left: 6px;
}

.replay-button {
  margin-top: 15px;
  font-size: 30px;
}

.replay-button:hover {
  cursor: pointer;
  color: #1cecff;
}
